<%- include('includes/head.ejs')  %>
<!-- path is given , with '-' sign : not text but actually renders html-->

</head>

<body>
    <%- include('includes/navigation.ejs')  %>
    <h1>NOT FOUND!!!!</h1>
    <p>Try to search different keywords</p>
    
    <%- include('includes/end.ejs')  %>
