<%- include('includes/head.ejs')  %>
<!-- path is given , with '-' sign : not text but actually renders html-->

</head>

<body>
    <%- include('includes/navigation.ejs')  %>
    <h1>Some Error Occured!!!!</h1>
    <p>We are working on fixing the issue , Sorry for the inconvenience</p>
    
    <%- include('includes/end.ejs')  %>
